# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# CUDA specific
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Editor files
.vscode/
.idea/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db
